<!DOCTYPE html>
<html lang="en" ng-app="MediaCatalog">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

        <script src="index.js"></script>
        <link rel="stylesheet" type="text/css" href="index.css">

        <title>Home Media Catalog</title>
    </head>

    <body ng-controller="CatalogCtrl">
        <div class="container">
            <div class="row log-in" ng-hide="authData">
                <h1 class="jumbotron center">Media Catalog</h1>
                <div class="col-sm-offset-3 col-sm-6">
                    <div ng-if="error" class="alert alert-danger center">{{ error }}</div>
                    <form class="sign-in form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-6">
                                <input type="email" class="form-control" ng-model="loginEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" ng-model="loginPassword">
                            </div>
                        </div>
                        <div class="form-group sign-in-button">
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" ng-click="login()" class="btn btn-primary">Sign in</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>

        <div class="row main-site" ng-show="authData">
            <br>
            <div class="row">
                <button class="btn btn-primary sign-out" ng-click="auth.$unauth()">Sign Out</button>
                <button type ="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">Add User</button>
                <button type ="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">Add Item</button>
            </div>
            <br>
            <div class="row">
                <input type="search" ng-model="searchText" ng-keyup="currentFilter = searchText" class="form-control input-lg" placeholder="Search for a movie, book, tv show, or comic.">
            </div>
            <br>
            <div class="row">
                <h4>Filter by type:</h4>
                <button class="btn btn-default" ng-click="currentFilter = ''">All</button>
                <button class="btn btn-default" ng-click="currentFilter = {type: 'Movie'}">Movies</button>
                <button class="btn btn-default" ng-click="currentFilter = {type: 'TV'}">TV Shows</button>
                <button class="btn btn-default" ng-click="currentFilter = {type: 'Book'}">Books</button>
                <button class="btn btn-default" ng-click="currentFilter = {type: 'Comic'}">Comics</button>
                <button class="btn btn-default" ng-click="currentFilter = {type: 'Music'}">Music</button>
            </div>
            <br>
            <div class="row">
                <div ng-if="alert" class="alert alert-success center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ alert }}
                </div>
                <table class="table table-hover">
                    <thead>
                        <!-- TODO: Maybe add image uploading, scaling, and display --> <!-- <th class='center'>
                            <a href="#">
                                Image
                            </a>
                        </th> -->
                        <th class='center col-sm-3'>
                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                Name
                                <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th class='center col-sm-1'>
                            <a href="#" ng-click="sortType = 'type'; sortReverse = !sortReverse">
                                Type
                                <span ng-show="sortType == 'type' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'type' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th class='center col-sm-6'>
                            <a href="#">
                                Description
                            </a>
                        </th>
                        <th class='center col-sm-1'>
                            <a href="#">
                                Edit
                            </a>
                        </th>
                        <th class='center col-sm-1'>
                            <a href="#">
                                Delete
                            </a>
                        </th>
                    </thead>
                    <tbody class="items-table" ng-repeat="item in items | orderBy:sortType:sortReverse | filter:currentFilter">
                        <tr>
                            <td class='center'>
                                {{item.name}}
                            </td>
                            <td class='center'>
                                {{item.type}}
                            </td>
                            <td style="text-align:justify;">
                                {{item.description}}
                            </td>
                            <td class="center">
                                <a href="#"><span style="font-size:1.3em;" ng-click="openEditModal(item)" class="glyphicon glyphicon-edit" aria-hidden="true"></a>
                            </td>
                            <td class='center'>
                                <a href="#"><span style="font-size:1.5em;" ng-click="deleteItem(item)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">Add User</h3>
                    </div>
                    <form class="add-user form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input type="email" ng-model="addUserEmail" class="form-control" id="email" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-6">
                                    <input type="password" ng-model="addUserPassword" class="form-control" id="password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div ng-if="error" class="alert alert-danger center">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ error }}
                            </div>
                            <button ng-click="createUser()" class="btn btn-success">Save New User</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">Add New Item</h3>
                    </div>
                    <form class="add-item form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="addName" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="itemName" class="form-control" id="name" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="addType" class="col-sm-3 control-label">Type</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="type" name="type" ng-model="itemType">
                                        <option value="Movie">Movie</option>
                                        <option value="TV">TV</option>
                                        <option value="Book">Book</option>
                                        <option value="Comic">Comic</option>
                                        <option value="Music">Music</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="addDescription" class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-8">
                                    <textarea rows="8" ng-model="itemDescription" class="form-control" id="description" name="description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div ng-if="error" class="alert alert-danger center">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ error }}
                            </div>
                            <button ng-click="addItem()" class="btn btn-success">Save Item</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">Edit Item</h3>
                    </div>
                    <form class="add-item form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="addName" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="editName" class="form-control" id="name" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="addType" class="col-sm-3 control-label">Type</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="type" name="type" ng-model="editType">
                                        <option value="Movie">Movie</option>
                                        <option value="TV">TV</option>
                                        <option value="Book">Book</option>
                                        <option value="Comic">Comic</option>
                                        <option value="Music">Music</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="addDescription" class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-8">
                                    <textarea rows="8" ng-model="editDescription" class="form-control" id="description" name="description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div ng-if="error" class="alert alert-danger center">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ error }}
                            </div>
                            <button ng-click="editItem(editingItem)" class="btn btn-success">Save Item</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>

</html>
